body{
    background-color: #faebd7;
    padding: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

h2{
  text-align: center;
}

/* solid border til sociale ikoner*/
.social_border{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  grid-gap: 3em;
  border-top: solid 0.1em black;
  border-bottom: solid 0.1em black;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
/*boksen der sætter ikonerne på række*/
.social_container{
  margin-top: 7em;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}
/*herunder bliver ikonerne redigeret*/
.yt_icon{
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.fb_icon{
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.ig_icon{
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.ig_icon, .yt_icon, .fb_icon{
  height: 48px;
}

/*herunder indsætter vi videoen*/
iframe{
  display: block;
  margin: auto;
  border: solid;
}

@media screen and (max-width: 700px)